
@{
    ViewBag.Title = "Index";
}
<style>
    #map {
        width: 100%;
        height: 725px;
        background-color: grey;
    }
</style>

<div id="map"></div>


@Scripts.Render("~/Scripts/fliprmap.js", "~/Scripts/markerclusterer.js")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWO4_t9fsEVJn9VV19BKXZPzq5LbpDXxk&callback=initMap"></script>

